/* Body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header/Nav Styles */
.header {
    background-color: #ffffff;
    color: #10b4d1;
    border: 1px solid #ccc; /* Add a grey border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 100px;
    margin-right: 10px;
}

.header h1 {
    font-size: 30px;
    margin-top: 30px;
}

.header-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.header-nav li {
    margin-right: 20px;
}

.header-nav a {
    text-decoration: none;
    color: #10b4d1;
    font-weight: bold;
    transition: color 0.3s ease;
}

.header-nav a:hover {
    color: #0056b3; 
}

h3 {
    position: absolute;
    top: 50%; 
    left: 20px; 
    transform: translateY(-50%); 
    font-size: 20px;
    color: white; 
    padding: 10px; 
    border: 2px solid white; 
    background-color: rgba(0, 0, 0, 0.7); 
}

.about {
    position: absolute;
    top: 50%; 
    left: 20px; 
    transform: translateY(-50%); 
    font-size: 18px;
    color: white; 
    padding: 10px; 
    border: 2px solid white; 
    background-color: rgba(0, 0, 0, 0.7); 
}

.contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    padding: 10px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center; 
}

.page-container {
    display: flex;
    justify-content: flex-end; /* Align everything to the right */
    width: 80%;
    margin: 0 auto; 
}

/* index form */
.index_form {
    width: 400px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding: 30px;
    margin: 5% 0 20px 20px; 
    text-align: center;
    border-radius: 20px;
    border-right: 20px solid transparent; 
}



/* Footer Styles */
.footer {
    background-color: #4f4c4c; 
    color: #10b4d1;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 60px; 
}

.footer p {
    margin: 5px 0;
}

.footer-info {
    color: #10b4d1;
    margin-right: auto;
}

.footer-social {
    background-color: rgba(0, 0, 0, 0); 
    padding: 20px;
}

.footer-social .social-icon {
    text-decoration: none;
    color: #10b4d1;
    font-size: 20px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.footer-social .social-icon:hover {
    color: #0056b3;
}

/* Logo */
.logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    padding: 0;
}

body.registration_body {
    margin: 0;
    padding: 0;
    background: url("needle.jpg") no-repeat center center fixed;
    background-size: cover;
}


.container {
    max-width: 400px;
    margin: 20px auto; 
    padding: 20px 40px 20px 20px; 
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 20px;
    backdrop-filter: blur(10px); 
    border: 1px solid #ccc;
}


.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    text-align: center; 
}

.form-group input {
    width: 100%;
    padding: 10px;
    margin-top: 10px; 
    margin-bottom: 20px; 
    border: 1px solid #ccc;
    border-radius: 5px;
}

.dropdown label {
    display: block;
    font-weight: bold;
    text-align: center;
}

.dropdown select {
    width: 105%;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin-top: 10px; 
    margin-bottom: 20px; 
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Center the headings */
.container h2 {
    text-align: center;
}


/* Style for buttons */
.btn {
    padding: 10px 0;
    width: 150px;
    background-color: #10b4d1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px; 
    display: inline-block; 
    text-align: center;
}


.btn:hover {
    background-color: #0056b3;
}

.btn:nth-child(odd) {
    clear: left;
}


.iframe {
    align-self: right;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    border: 0;
}


/* textareas */

textarea {
    width: 100%; 
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; 
}

body.reg {
    margin: 0;
    padding: 0;
    background: url("doc.jpg") no-repeat center center fixed;
    background-size: 1920px 1080px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

body.cont {
    margin: 0;
    padding: 0;
    background: url("passion.jpg") no-repeat center center fixed;
    background-size: 1920px 1080px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}


/* Style for the Text Element */
p.reg {
    position: absolute;
    top: 50%; 
    left: 20px; 
    transform: translateY(-50%); 
    font-size: 20px;
    color: white; 
    padding: 10px; 
    border: 2px solid white; 
    background-color: rgba(0, 0, 0, 0.5); 
}

body.home {
    margin: 0;
    padding: 0;
    background: url("home.jpg") no-repeat center center fixed;
    background-size: 1920px 1080px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
